* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        width: 100%;
}

.main-color {
        background: rgb(237, 100, 54);
        font-size: 25px;
        font-weight: 400;
        color: white
}

.main-color:hover {
        color: white;
}

.book-button:hover {
        background: rgb(232, 74, 21)
}

nav ul li a {
        font-size: 25px;
        font-weight: 400;
}

nav li:hover {
        background: rgb(237, 100, 54);
}

nav li:hover a {
        color: black
}

nav li {
        padding: 10px 8px;
}

.navigation {
        padding: 0;
}

nav ul li .drop-down-a {
        color: black;
        text-decoration: none;
        padding: 0 5px;
}

nav .dropdown-menu li:hover {
        background: lightgray;
}

/* ===========================================================
        =====================Slide Show Part==========================
        ============================================================== */

.slide-img {
        opacity: 0.7;
}

.centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
}

.centered h1 {
        font-size: 5vw;
}

.centered h2 {
        font-size: 3vw;
}

.learn-more-btn {
        font-size: 25px;
        color: black;
}

.learn-more-btn:hover {
        color: white;
}

/* ===========================================================
        =====================Form Part==========================
        ============================================================== */

.book-section {
        background: rgb(242, 242, 244);
}

.form-part {
        background: rgb(237, 100, 54);
}

.booking-title {
        font-size: 30px;
}

.booking-text {
        font-size: 50px;
        font-weight: 700;
}

.orange {
        color: rgb(237, 100, 54);
}

.icon {
        font-size: 50px;
        color: green;
}

.services-part {
        background: rgb(242, 242, 244);
}

.services-text {
        font-size: 20px;
}

.services-text a {
        color: rgb(232, 74, 21);
        font-weight: 500;
        text-decoration: none;
}

.services-text a:hover {
        text-decoration: underline;
}